<figure class="text-center">
  <div class="m-5">
    <h1 class="display-1">企業名　店舗名</h1>
  </div>
</figure>
<br>
<figure>
  <blockquote class="blockquote">
    <h2>不動産の売却はあんず不動産にお任せください</h2>
  </blockquote>
  <figcaption class="blockquote">
    <h3>
      あんず不動産赤坂支店にお任せください！東京都の不動産売却の実績多数です。
    </h3>
  </figcaption>
</figure>
<br>

<dl class="row">
  <dt class="col-sm-3">企業名</dt>
  <dd class="col-sm-9">あんず不動産</dd>

  <dt class="col-sm-3">郵便番号</dt>
  <dd class="col-sm-9">000-0000</dd>

  <dt class="col-sm-3">住所</dt>
  <dd class="col-sm-9">東京都港区六本木1丁目</dd>

  <dt class="col-sm-3">電話番号</dt>
  <dd class="col-sm-9">03-0000-0000</dd>

  <dt class="col-sm-3">FAX</dt>
  <dd class="col-sm-9">03-0000-0000</dd>

  <dt class="col-sm-3">営業時間</dt>
  <dd class="col-sm-9">9:00-18:00</dd>

  <dt class="col-sm-3">定休日</dt>
  <dd class="col-sm-9">水曜日、GW</dd>
</dl>
