<figure class="text-center">
  <h1 class="display-1">企業名　店舗名</h1>
</figure>
<br />
<figure>
  <blockquote class="blockquote">
    <h2>不動産の売却はあんず不動産にお任せください</h2>
  </blockquote>
  <figcaption class="blockquote">
    <h3>
      あんず不動産赤坂支店にお任せください！東京都の不動産売却の実績多数です。
    </h3>
  </figcaption>
</figure>
<br />
