
<ul class="list-group">
    <li class="list-group-item active" aria-current="true"><%= @city.prefecture.name %></li>
        <body style='display: flex; flex-wrap: wrap'>
        <% city.prefecture.cities.each do |cities| %>
            <%= link_to city_path(cities.id), class: 'link-primary' do %>
            <div><%= cities.name %></div>
             <% end %>
        <% end %>
    </body>
</ui>
