<ul class="list-group" style="width:95%;">
  <li class="list-group-item active" aria-current="true"><%= @city.prefecture.name %></li>
  <div class="d-flex flex-wrap">
    <% city.prefecture.cities.each do |city| %>
      <%= link_to city_path(city.id), class: 'link-primary' do %>
        <div class="p-2 bd-highlight"><%= city.name %></div>
      <% end %>
    <% end %>
  </div>
</ul>
