
<ul class="list-group">
    <li class="list-group-item active" aria-current="true">茨城県</li>
        <div class="row">
            <dl class="col">
                <div>One of three columns</div>
            </dl>
            <dl class="col">
                <div>One of three columns</div>
            </dl>
            <dl class="col">
                <div>One of three columns</div>
            </dl>
            <dl class="col">
                <div>One of three columns</div>
            </dl>
            <dl class="col">
                <div>One of three columns</div>
            </dl>
        </div>
</ui>
