<figure class="text-center">
  <div class="m-5">
    <h1 class="display-1"><%= @city.prefecture.name %> / <%= @city.name %></h1>
  </div>
</figure>

<div class="m-5">
  <%= render 'area_branch_card' %>
</div>

<div class="m-5">
  <%= render 'area_transition' %>
</div>
